.word-list-item{
    display: inline-block;
    background-color: #ebe7f460;
    padding: 7px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1em;
}

@media screen and (max-width: 767px) {
  .word-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
}
